<plugin>
	<extension
	        point="com.katalon.platform.extensions">
	    <point
	          id="com.mycompany.plugin.myFirstExtensionId"
	          extensionPointId="com.katalon.platform.api.extension.pluginActivationListener"
	          implementationClass="com.katalon.plugin.jira.JiraPluginActivationListener">
	    </point>
	</extension>
	<extension
            point="com.katalon.platform.extensions">
        <point
                id="com.katalon.plugin.jira.JiraEventListenerInitializer"
                extensionPointId="com.katalon.platform.api.extension.eventListener"
                implementationClass="com.katalon.plugin.jira.JiraEventListenerInitializer">
        </point>
    </extension>
    <extension
         point="com.katalon.platform.extensions">
      <point
            id="com.katalon.plugin.jira.JiraPluginPreferencePage"
            extensionPointId="com.katalon.platform.api.extension.pluginPreferencePage"
            implementationClass="com.katalon.plugin.jira.JiraPluginPreferencePage">
      </point>
   </extension>
   <extension
   		point="com.katalon.platform.extensions">
	  <point
            id="com.katalon.plugin.jira.JiraPluginMenuItem"
            extensionPointId="com.katalon.platform.api.extension.newDropdownToolItem"
            implementationClass="com.katalon.plugin.jira.JiraPluginMenuItemDescription">
      </point>	
   	</extension>
   	<extension
         point="com.katalon.platform.extensions">
      <point
      		id="com.katalon.plugin.jira.JiraPluginPreferencePage"
            extensionPointId="com.katalon.platform.api.extension.testCaseIntegrationViewDescription"
            implementationClass="com.katalon.plugin.jira.JiraTestCaseIntegrationViewDescription">
      </point>
   </extension>
   <extension
         point="com.katalon.platform.extensions">
      <point
      		id="com.katalon.plugin.jira.JiraReportIntegrationViewDescription"
            extensionPointId="com.katalon.platform.api.extension.reportIntegrationViewDescription"
            implementationClass="com.katalon.plugin.jira.JiraReportIntegrationViewDescription">
      </point>
   </extension>
</plugin>
